.chat {
    width: 100%;
    height: calc(100% - 42px) !important;
    display: flex;
    flex-direction: column;
}

.chat-top-bar {
    text-align: center;
    padding: 10px 0;
}
.chat-title {
    font-size: 16px;
}
/*
.chat-top-bar h3 {
    font-size: 16px;
}

.settings-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: -5px;
}

.settings-button:hover {
    background-color: var(--border);
} */

/* .chat-settings-icon {
    width: 16px;
    height: 16px;
    fill: var(--font-color);
} */

.chat-messages-container {
    flex: 1;
    padding: 10px;
    overflow: auto;
}

.chat-send-container {
    position: relative;
    padding: 10px;
}

.chat-input {
    width: 100%;
    padding: 10px;
    background-color: var(--darker-background);
}

.chat-input:focus {
    outline: 2px solid var(--theme-color)
}

.chat-input, .chat-send-button{
    font-size: 18px;
    border-radius: 3px;
}

.chat-button-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.chat-send-button {
    padding: 8px 10px;
    transition-duration: 250ms;
    font-size: 16px;
}

.single-message {
    padding: 5px 0;
}

.message-username {
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
    color: var(--theme-color)
}

.message-msg {
    font-size: 15px;
}

.chat-icons-holder {
    display: flex;
    align-items: center;
}

.chat-icon {
    width: 21px;
    height: 21px;
    fill: var(--font-color)
}


.single-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 5px;
}

.single-icon:hover {
    background-color: var(--darker-background);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .chat {
        height: 100%;
    }
}