.chat-popup {
    height: 250px;
    background-color: var(--darker-background);
    position: absolute;
    padding: 10px;
    left: 10px;
    right: 10px;
    bottom: 100%;
    border-radius: 6px;
    animation: showPopup 200ms;
}

/* .chat-popup-close {
    animation: hidePopup 200ms;
} */

.emoji-picker {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.single-emoji {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 21px;
}

.single-emoji:hover {
    background-color: var(--background);
}

.room-users {
    width: 100%;
    height: 100%;
}

.room-username-holder {
    text-align: center;
    padding: 5px 0;
}

.room-username-holder:hover {
    background-color: var(--background);
}

.room-username {
    font-weight: bold;
    font-size: 16px;
}

.your-name {
    margin-left: 5px;
    color: var(--theme-color);
}

@keyframes showPopup {
    0% {
        bottom: 80%;
        opacity: 0;
    }

    100% {
        bottom: 100%;
        opacity: 1;
    }
}
/* 
@keyframes hidePopup {
    0% {
        bottom: 100%;
        opacity: 1;
    }

    100% {
        bottom: 50%;
        opacity: 0;
    }
} */