.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    max-width: 480px;
    padding: 30px 50px;
    background-color: var(--darker-background);
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
}

.home-logo span {
    font-size: 56px;
    font-weight: bold;
    font-family: 'Concert One'
}

.home-logo {
    padding: 0 0 15px 0;
    text-align: center;
}
   
.logo-color {
    color: var(--theme-color);
}

.home-description {
    font-size: 18px;
    text-align: center;
}

.home-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 0;
    margin-top: 15px;
}

.gitlab-link {
    display: flex;
    align-items: center;
    color: var(--theme-color);
    text-decoration: none;
    padding: 3px 0;
}

.gitlab-link:hover {
    text-decoration: underline;
}

.gitlab-link .svg-icon {
    margin-right: 5px;
}

.create-room-btn {
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    background-color: var(--theme-color);
    color: var(--font-color);
}

.create-room-btn:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 548px) {
    .home {
        display: block;
        background-color: var(--darker-background);
    }

    .home-container {
        max-width: 100%;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 30px;
    }

    .home-logo span {
        font-size: 40px;
    }

    .home-description { 
        font-size: 16px;
    }
}

@media only screen and (max-width: 368px) {
    .home-buttons {
        justify-content: center;
        flex-direction: column;
    }

    .home-container {
        padding: 30px 15px;
    }

    .gitlab-link {
        margin-bottom: 20px;
    }

    .home-logo span {
        font-size: 32px;
    }
}