.loading-crircle {
    border: solid 5px var(--font-color);
    border-top: solid 5px var(--theme-color);
    border-radius: 50%;
    animation: loading 700ms infinite linear;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}