.playlist {
    height: 100%;
    overflow: auto;
}

.playlist-title {
    font-size: 16px;
}

/* .playlist-item.first-item {
    background-color: #111419;
} */

.playlist-top {
    text-align: center;
    padding: 10px 0;
}

.playlist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    padding: 5px;
}

.playlist-item:hover {
    background-color: var(--darker-background);
}

.playlist-item-l {
    display: flex;
}

.playlist-item:hover > .playlist-item-l .playlist-item-details .playlist-item-title {
    color: var(--theme-color);
}

.playlist-item-thumbnail {
    position: relative;
    width: 56px;
    /* max-height: 70px; */
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-item-details {
    margin-left: 5px;
}

.playlist-item-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
    width: 230px;
}
.playlist-item-author {
    font-size: 12px;
    color: var(--border)
}

.playlist-item-author-type {
   /*  //margin-top: 4px; */
    display: flex;
    align-items: center;
}

.its-live.playlist-item-live span {
    font-size: 8px;
}

.playlist-item-button {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
}

.playlist-item-number {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.playlist-item-number span {
    font-size: 12px;
    color: var(--border)
}

.playlist-item:hover > .playlist-item-button {
    display: flex
}

.playlist-item:hover > .playlist-item-number {
    display: none;
}

.playlist-item-button:hover > .playlist-item-icon {
    fill: var(--theme-color);
}

.playlist-item-icon {
    fill: var(--font-color);
    width: 18px;
    height: 18px;
}

.empty-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;
}

.empty-playlist-icon {
    fill: var(--border);
    width: 128px;
    height: 128px;
}

@media only screen and (max-width: 768px) { 
    .playlist-item-number {
        display: none;
    }

    .playlist-item-button {
        display: flex;
    }

    .playlist-item-icon {
        width: 24px;
        height: 24px;
    }
}

@media only screen and (max-width: 350px) { 
    .playlist-item-title {
        width: 150px;
    }
}