.video-player {
    width: 100%;
    position: relative;
    z-index: 50;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.player-placeholder {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #20252d;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player-placeholder-icon {
    fill: var(--font-color);
    width: 72px;
    height: 72px;
    margin-bottom: 5px;
}

.player-placeholder-message {
    font-size: 18px;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.player-controls {
    padding: 0 15px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--darker-background);
}

.player-controls-live {
    justify-content: space-between;
}

.player-controls-fullscreen {
    position: absolute;
    left: 0;
    bottom: 0;
}

.show-on-fs {
    display: flex;
}

.dont-show-on-fs {
    display: none;
}

.player-controls-left {
    display: flex;
    align-items: center;
}

.play-pause {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.play-pause:hover > .play-pause-icon, .fullscreen-button:hover > .fullscreen-button-icon {
    fill: var(--theme-color);
}

.player-control-icon {
    --width-height: 26px;
    fill: var(--font-color);
    width: var(--width-height);
    height: var(--width-height);
}

/*Range track styles */

.volume-slider, .volume-slider-icon, .volume-range {
    display: flex;
    align-items: center;
}

.volume-slider-icon {
    width: 20px;
    height: 20px;
    fill: var(--font-color)
}

.volume-slider-icon-container {
    margin-right: 5px;
}

.volume-range-input {
    width: 100px;
}

.progress-range::-moz-range-thumb {
    width: 0;
    height: 0;
}

.progress-slider-container:hover > .progress-range::-moz-range-thumb {
    width: 14px;
    height: 14px;
}

.progress-slider, .progress-slider-container {
    display: flex;
    align-items: center;

}

.progress-slider-time {
    font-size: 12px;
    min-width: 45px;
    margin: 0 20px 0 10px;
}

.progress-slider-time span {
    white-space: pre;
}

.progress-slider, .progress-slider-container, .progress-range {
    width: 100%;
}

/* Fulscreen Button */

.fullscreen-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

@keyframes showVolumeRange {
    0% {
        width: 0px;
    }
    100% {
        width: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .player-placeholder-icon {
        width: 56px;
        height: 56px;
    }
    
    .player-placeholder-message {
        font-size: 14px;
    }

    .volume-slider {
        display: none;
    }

    .progress-slider-time {
        margin: 0 20px 0 0;
    }

    .play-pause {
        margin-right: 5px;
    }
}