.scroll-view {
    width: 100%;
    height: calc(100vh - 80px);
}

@media only screen and (max-width: 768px) { 
    .scroll-view {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}