.static-content-container {
    height: calc(100vh - 80px);
    margin-left: 10px;
    padding-bottom: 15px;
}

.static-content {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 100%;
    background-color: #20252d;
    border-radius: 3px;
    overflow: hidden;
}

.content-nav {
    display: flex;
}

.content-nav-btn {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.content-nav-btn:hover > .content-nav-icon {
    fill: var(--theme-color);
}

.content-nav-btn:hover {
    background-color: var(--darker-background);
}

.content-nav-icon {
    width: 24px;
    height: 24px;
    fill: var(--font-color);
}

.playlist-icon {
    width: 26px;
    height: 26px;
}

.active-btn {
    fill: var(--theme-color);
}

@media only screen and (max-width: 768px) {
    .static-content-container {
        margin: 0;
        padding: 0;
        flex: 1;
        max-width: 100%;
        overflow: hidden;
    }
    .static-content {
        width: 100%;
        border-radius: 0;
    }

    .content-nav-btn:hover {
        background-color: #20252d;
    }
}