.top-bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 80px;
    position: relative;
    z-index: 100;
    /* background-color: var(--third-background);
    border-bottom: 1px solid var(--border); */
}

.logo span {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Concert One'
  }
  
.logo {
    padding-bottom: 4px;
}
  
.thm {
    color: var(--theme-color)
}

.top-bar-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top-bar-input {
    font-size: 18px;
    padding: 10px;
    min-width: 800px;
    background-color: var(--darker-background);
}

.top-bar-input-click {
    /* border: 1px solid var(--theme-color); */
    /* background-color: var(--background); */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}

.search-result-container, .loading-container {
    position: absolute;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /* border-left: 1px solid var(--theme-color);
    border-bottom: 1px solid var(--theme-color);
    border-right: 1px solid var(--theme-color); */
    width: 100%;
    max-height: 600px;
    overflow: auto;
    padding: 5px 10px;
    background-color: var(--darker-background);
    z-index: 100;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.search-result {
    display: flex;
    margin: 10px 0;
}

.search-result-thumbnail {
    position: relative;
    width: 120px;
    max-height: 70px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result-details {
    margin-left: 10px;
}

.search-result-title {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 650px;
}
.search-result-author {
    font-size: 14px;
    color: var(--border)
}

.search-result-author-type {
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.its-live.live-search-result span {
    font-size: 10px;
}

.search-result-buttons {
    margin-left: -8px;
    display: flex;
    align-items: center;
}

.play-search, .to-queue {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}

.play-search-icon, .to-queue-icon {
    width: 23px;
    height: 23px;
    fill: var(--font-color);
    margin-right: 2px;
}

.play-search:hover, .play-search:hover > .play-search-icon, .to-queue:hover, .to-queue:hover > .to-queue-icon {
    color: var(--theme-color);
    fill: var(--theme-color);
}


@media only screen and (max-width: 1320px) {
    .top-bar {
        padding: 0 30px;
        justify-content: space-between;
    }

    .top-bar-input {
        width: 100%;
    }

    .top-bar-search {
        position: relative;
        left: unset;
        top: unset;
        transform: none;
    }
}

@media only screen and (max-width: 1050px) {
    .logo {
        display: none;
    }

    .top-bar {
        justify-content: center;
    }

    .top-bar-search {
        position: relative;
        left:unset;
        top: unset;
        transform: none;
        width: 100%;
    }

    .top-bar-input {
        min-width: 0px;
    }

    .search-result-title {
        width: 500px;
    }
}

@media only screen and (max-width: 768px) {
    .top-bar {
        padding: 0 5px;
    }

    .mobile-search-results {
        width: 100%;
        height: calc(100% - 80px);
        padding: 5px 10px;
        overflow: auto;
    }

    .search-result-title {
        width: 250px;
        font-size: 14px;
    }

    .search-result-thumbnail {
        width: 80px;
        max-height: 50px;
    }

    .search-result-author {
        font-size: 12px;
    }

    .play-search-icon, .to-queue-icon {
        width: 18px;
        height: 18px;
    }

    .play-search, .to-queue {
        font-size: 12px;
    }

    .close-mobile-search {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .close-mobile-search-icon {
        fill: var(--font-color);
    }

    .mobile-loading-container {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 290px) { 
    .search-result-title {
        width: 150px;
    }
}


