.username-popup-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.username-popup {
    width: 400px;
    padding: 25px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.username-button {
    padding: 10px 0;
    border-radius: 3px;
}

.username-input {
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px;
    background-color: #111419;
}

.username-input:focus {
    background-color: var(--background);
    border: 1px solid var(--border);
}

.username-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}