:root {
  --background: #222831;
  --darker-background: #111419;
  --border: #566375;
  --theme-color: #F05454;
  --font-color: #DDDDDD;
  --placeholder: #7F8183;
}

/*SCROLLBAR CHROMIUM BASED*/

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
  border-radius: 2px;
}

/*CHROMIUM BASED RANGE INPUT*/
input[type="range"].not-firefox {
  -webkit-appearance: none;
  background-color: var(--font-color);
}


::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--theme-color);
  width: 14px;
  height: 14px;
  margin-top: -5px;
  border-radius: 50%;
}

::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 4px;
  border-radius: 2px;
}

/* Reseting thumb margin for edge browsers */
::-ms-thumb {
  margin-top: 0;
}


/*FIREFOX RANGE INPUT*/
::-moz-range-track {
  background-color: var(--font-color);
  border-radius: 2px;
}

::-moz-range-thumb {
  background-color: var(--theme-color);
  border: none;
  width: 14px;
  height: 14px;
}

::-moz-range-progress {
  background-color: var(--theme-color);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: Roboto;
  color: var(--font-color);

  /* SCROLLBAR FIREFOX */
  scrollbar-width: 4px;
  scrollbar-color: var(--theme-color) var(--darker-background);
}

body {
  background-color: var(--background);
}

button {
  background: none;
  color: var(--theme-color);
  outline: none;
  border: 1px solid var(--theme-color);
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--theme-color);
  color: var(--font-color);
}

input {
  outline: none;
  border: none;
  color: var(--font-color);
  background: none;
  font-size: 16px;
  border-radius: 3px;
}

input::placeholder {
  color: var(--placeholder);
}

.container {
  max-width: 1920px;
  width: 85%;
  margin: 0 auto;
}

.svg-icon {
  width: 32px;
  height: 32px;
}

.its-live {
  padding: 2px 5px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.its-live span {
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.video-website-identifier {
  position: absolute;
  left: 3px;
  top: 3px;
}

.twitch-identifier, .youtube-identifier {
  width: 20px;
  height: 20px;
}

.twitch-identifier {
  fill: #A970FF;
}

.youtube-identifier {
  fill: #FF0000;
}

@media only screen and (max-width: 1320px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}